@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Cart
@{
    int a = 0;
    if (Model != null && Model.Lines != null)
    {
        int count = Model.Lines.Count;

        if (count == 0)
        {
            a = 0;

        }
        else
        {
            a = count;
        }

    }
}
<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@a">
    <i class="zmdi zmdi-shopping-cart"></i>
</div>
